[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websocket-client = "*"
pymysql = "*"
sshtunnel = "*"
requests = "*"
paramiko = "*"
hashids = "*"

[dev-packages]
pytest = "*"
pylint = "*"

[requires]
python_version = "3.8"
